.blog-card {
  min-height: 460px;

  @media #{$screen-mobile} {
    max-width: 100%;
  }
}

.blog-card__image {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.blog-card__tag {
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 100%;
  color: $tag-red;
  margin-bottom: 16px;
}

.blog-card__title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 125%;
  color: $black;
}

.blog-card__info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 16px;
}

.blog-card__info-item {
  padding-right: 5px;
  padding-left: 8px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 3px;
    height: 3px;
    top: 4px;
    left: 0;
    background-color: $text-gray;
    border-radius: 50%;
  }

  &:first-child {
    padding-left: 0;

    &::before {
      display: none;
    }
  }
}

.blog-card__author {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 100%;
  color: $black;
}

.blog-card__date,
.blog-card__views {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 100%;
  color: $text-gray;
}

.blog-card__text {
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 143%;
  color: $text-gray;
}