.blog {
  padding: 3rem 0;
}

.blog__title {
  display: none;
}

.blog__list {
  display: flex;
  flex-wrap: wrap;
  margin: -20px;

  @media #{$screen-tablet} {
    margin: -10px;
  }
}

.blog__item {
  padding: 20px;
  flex: 0 0 33.33%;

  @media #{$screen-tablet} {
    padding: 10px;
    flex: 0 1 50%;
  }

  @media #{$screen-mobile} {
    flex: 1 1 100%;
  }
}

.blog__link {
  display: block;
}