.button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button__open-menu {
  display: none;
  width: 29px;
  height: 21px;
  background-image: url("@img/icons/burger-menu.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media #{$screen-tablet} {
    display: block;
  }
}

.button__close-menu{
  width: 25px;
  height: 25px;
  background-image: url("@img/icons/cross.svg");
  background-size: contain;
}

.button__search {
  width: 16px;
  height: 16px;
  background-image: url("@img/icons/search.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
