//  === Screen widths  ===
$screen-tablet: "(max-width: 1279px)";
$screen-mobile: "(max-width: 767px)";

//  === Colors ===
$white: #ffffff;
$black: #000000;

$border-gray: #e9e9e9;
$text-gray: #9b9b9b;
$submenu-hover-gray: #969696;
$tag-red: #eb0028;
